<% form_for [@project, @message], :html => {:id => 'message_form', :multipart => true} do |f| -%>
	<div id="post_form_container">
		<div class="main_attributes">
			<div class="inner">
				<div class="input">
					<h2 class="text_input">Title</h2>
  				<%= f.text_field :title, :class => "message_title", :size => "50", :style => "width:920px;" %>
				</div>
				<div class="input">
					<h2 class="text_input">
						分类
						<%= f.select :category_id, current_project.categories.collect {|c| [c.name, c.id] }, {:include_blank => "没有分类"} %>
					</h2>
				</div>
				<%= f.text_area :body, :style => "height: 150px; width: 920px;", :cols => "40"  %>
			</div>
		</div>	
	</div>	
	<div class="attachments_option message_option">
		<img class="paperclip" src="/images/attachment_block_icon.gif" alt="Attachment_block_icon"/>
		<div class="indented">
				<h2>Attach files
				  <span class="filesize_limit">(each file should be under 100MB)</span>
				</h2>
				<div class="pending_attachments">                                    
					<% @message.assets.each do |asset| %>
						<%=  render :partial => 'assets/asset', :locals => {:asset => asset} %>
					<% end -%>
				</div>
				<div id="attachment_fields">
					<div class="pending_attachments">
					</div>                           
					<div class="file_selectors">
						<p class="offscreen"></p>
						<p class="template">            
							<input id="" class="file_selectors" type="file" size="30" onchange="PendingAttachments.add(this, 'attachment_fields')" name="message[assets_attributes][0][data]"/>
						</p>  
					</div>
				</div>	  
		</div>
	</div>                                         
	<div class="milestone_option message_option">
	<h2>和某个milestone关联吗?</h2>
	<p>
		<%= f.select :milestone_id, current_project.milestones.collect {|milestone|[milestone.title, milestone.id]},  {:include_blank => "没有milestone"} %>
	</p>
	</div>
<% end -%>