<% form_for [@project, @message], :html => {:id => 'message_form', :multipart => true} do |f| -%>
	<div id="post_form_container">
		<div class="main_attributes">
			<div class="inner">
				<div class="input">
					<h2 class="text_input">Title</h2>
  				<%= f.text_field :title, :class => "message_title", :size => "50", :style => "width:920px;" %>
				</div>
				<div class="input">
					<h2 class="text_input">
						分类
						<%= f.select :category_id, current_project.categories.collect {|c| [c.name, c.id] }, {:include_blank => "没有分类"} %>
					</h2>
				</div>
				<%= f.text_area :body, :style => "height: 150px; width: 920px;", :cols => "40"  %>
			</div>
		</div>	
	</div>	
	<%= render :partial => "assets/form", :locals => {:attachable => @message, :name => "message"} %>
	<div class="milestone_option message_option">
		<h2>和某个milestone关联吗?</h2>
		<p>
			<%= f.select :milestone_id, current_project.milestones.collect {|milestone|[milestone.title, milestone.id]},  {:include_blank => "没有milestone"} %>
		</p>
	</div>
	
	<%= render :partial => "shared/notify_form", :locals => { :f => f } %>      
		
<% end -%>