<div class="page_header">
	<div class="page_header_links">
	</div>
	<h1>Messages</h1>
</div>
<div class="innercol">
	<table class="forum_view">
	<tbody>
		<% @messages.each do |message| %>
			<tr>
				<td class="message">
					<div style="margin-left: 40px;">
						<a class="visited" href="<%= message_path(message) %>"> 
							<span class="comments no_comments">
								<span class="icon"> </span>                  
								<span class="size"><%= message.comments_count %></span>
							</span>     
							<span class="title"><%= message.title %></span>
						</a>                           
					<br/>
					<span class="meta"> <%= message.creator.try(:login) %> <%= message.created_at %> </span>
					</div>                           
				</td>
				<td class="last_comment">
					<% if message.last_comment %>
						Last comment by <%= message.last_comment.creator.login %>
						<%= relative_date(message.last_comment.created_at) %>
					<% end -%>	  
				</td>
			</tr>                        
		<% end -%>
	</tbody>
	</table>
</div>

<% content_for :side do  %>
	<div class="button_to_add_new">
		<a class="image" href="messages/new">
			<img src="/images/post_a_new_message.gif" alt="Post a new message"/>
		</a>
	</div>
	<h1> 
		<a id="edit_categories_link" class="admin" style="float: right;" onclick="categories.toggleEdit(); return false;" href="#">Edit</a>
		分类
	</h1>
	<div id="CategoryList" class="indent"> 
		<div class="category">
			<a class="category_link <%= "current" if(params[:category_id].nil?) %>" href="<%= project_messages_path(@project) %>">
				<span>All</span>
			</a>
		</div>
		<% current_project.categories.each do |category| %>
			<%= render :partial => "categories/category", :locals => { :category => category } %>
		<% end -%>
		<div id="add_new_category" class="category" style="display: none;">
			<a id="add_new_category_link" class="category_link admin" onclick="categories.addNew(); return false;" href="<%= project_categories_path(@project) %>">Add another category</a>
		</div>
	</div>		
<% end -%>