<div class="page_header">
	<div class="page_header_links">
	</div>
	<h1>Messages</h1>
</div>
<div class="innercol">
	<% @messages.group_by(&:day).each do |day, messages| %>
		<h2 class="date">  
			<% if today?(day) %>
				<span class="today"><%=  day %></span>
			<% else %>	                            
				<span><%=  day %></span>
			<% end -%>
		</h2>
		<% messages.each do |message| %>
			<div class="message">
				<h1 class="title">
					<%= link_to message.title, message_url(message) %>
				</h1>
				<!-- <div class="post_comment_stats">       
					<h2>
						<%#= message.comments_count %> comments
					</h2>	
				</div>  -->
				<div class="formatted_text_body">
					<%= message.body %>
				</div>
				<h3>
					 Posted by <%= message.creator.try(:login) %>
					<span class="pipe">|</span>
					<%= link_to "#{message.comments_count} comments", message_url(message) %>
				</h3>	
			</div>	                     
		<% end -%>
	<% end -%>	
</div>

<% content_for :side do  %>
	<div class="button_to_add_new">
		<a class="image" href="messages/new">
			<img src="/images/post_a_new_message.gif" alt="Post a new message"/>
		</a>
	</div>
	<h1> 
		<a id="edit_categories_link" class="admin" style="float: right;" onclick="categories.toggleEdit(); return false;" href="#">Edit</a>
		分类
	</h1>
	<div id="CategoryList" class="indent"> 
		<div class="category">
			<a class="category_link <%= "current" if(params[:category_id].nil?) %>" href="<%= project_messages_path(@project) %>">
				<span>All</span>
			</a>
		</div>
		<% Category.all.each do |category| %>
      <div class="category">
			  <a class="category_link <%= "current" if(params[:category_id] && params[:category_id].to_i==category.id) %>" href="<%= project_messages_path(@project, :category_id => category.id) %>">
				  <span><%= category.name %></span>
			  </a>
		  </div>
		<% end -%>
	</div>		
<% end -%>