<div class="page_header">
	<div class="page_header_links">
		<%= link_to "new", new_message_path, :class => "admin"  %> |
		<%= link_to "edit", edit_message_path(@message), :class => "admin"  %> | 
		<%= link_to "delete", message_path(@message), :class => "admin", :method => "delete", :confirm => "sure?"  %>
	</div>
	<p class="link_back">
		<%= link_to "« All messages", collection_url %>
	</p> 
</div>
<div class="innercol">   
	<div class="message_header">
		<h2><%= @message.title %></h2>
		<p>
		<span class="label">From:</span>
		<%= @message.creator.login %>
		</p>
		<p>
			<span class="label">Date:</span>
			<%= @message.created_at %>
		</p>
		<p>
			<span class="label" style="margin: 0pt; float: none; width: auto;">Category:</span>
			<a href="/projects/3380838/cat/34054384/posts"><%= @message.category.name %></a>
		</p>
	</div>
	<div id="OriginalPost" class="message">
		<div class="formatted_text_body">
			<%= @message.body %>
		</div>  
		<div class="uploaded_images">                     
			<% @message.assets.images.each do |asset| %>
				<%= link_to image_tag(asset.data.url(:thumb)), asset.data.url, :class => "image" %>
			<% end -%>
		</div>
		<div class="attachments">
			<% @message.assets.not_images.each do |asset| %>
				<p><%= link_to asset.data_file_name, asset.data.url %></p>
			<% end -%>
		</div>
	</div>             
	<%= render :partial => 'comments/comments', :locals => {:commentable => @message} %>    
</div>	