<div class="page_header">
	<div class="page_header_links">
		<span id="normal_list_controls" style="">
		<a id="reorder_lists_link" class="admin" href="#">Reorder lists</a>
		</span>
	</div>
	<h1>To-do lists</h1>
</div>
<div class="innercol">
	<div class="page content">
		<div id="widgets" class="widget_parent lists" style="position: relative;">
			<% @todo_lists.each do |list| %>
				<div id="<%= dom_id(list) %>" class="widget page_widget list_wrapper" style="position: relative;">
					<div class="hover_container widget_content list">
						<div class="list_title">    
							<h2>
								<span  class="hover_target">
									<%= link_to list.title, todo_list_path(list) %>
								</span>
							</h2>
						</div>    
						<% if list.milestone %>
							<p class="listdesc">
								Related milestone:
								<%= link_to "#{list.milestone.title} - #{list.milestone.due}", milestone_path(list.milestone), :class => "attached_milestone" %>
							</p>
						<% end -%>	
						<%= render :partial => "todo_list", :locals => { :list => list } %>
						<%= render :partial => "add_todo", :locals => { :list	 => list } %>
						<div id="list_<%= list.id %>_completed_items" class="done">
							<% list.todos.by_state("completed").each do |todo| %>
								<%= render :partial => "todos/completed_todo", :locals => {:todo => todo} %>
						  <% end -%>
						</div>
					</div>
				</div>                      
			<% end -%>
		</div>
	</div>
</div>

<% content_for :side do  %>
	<div class="button_to_add_new">
		<a class="image" href="todo_lists/new">
			<img src="http://asset1.projectpath.com/images/new_to-do_list.gif?1245383866" alt="New to-do list"/>
		</a>
	</div>
	<div id="sidebar">
		<div class="indent">
			<% form_tag todo_lists_path, :method => "GET", :html => {:style=>"margin: 0pt; padding: 0pt;"} do %>
				<p>
					Show to-dos assigned to:
					<br/>
					<select id="responsible_party" onchange="$(this).parents('form').submit()	" name="responsible_party">      
						<option value=''>任何人</option> 
						<% User.all.each do |u| %>
							<option value='<%= u.id %>' <%= "selected='selected'" if(u.id.to_s==params[:responsible_party]) %>><%= u.login %></option>
						<% end -%>	
					</select>
				</p>
			<% end -%>
		</div>
		<div class="indent">    
			<h2>Current to-do lists</h2>
			<ul id="menu_list">
				<li id="menu_list_6347262">
				</li>
				<li id="menu_list_6347244">
				<a id="menu_list_name_6347244" href="#list_6347244">about test</a>
				</li> 
			</ul>
		</div>	
	</div>	
<% end -%>	