<div class="page_header">
	<div class="page_header_links">
		<span id="normal_list_controls" style="">
		<a id="reorder_lists_link" class="admin" href="#">Reorder lists</a>
		</span>
	</div>
	<h1>To-do lists</h1>
</div>
<div class="innercol">
	<div class="page content">
		<div id="widgets" class="widget_parent lists" style="position: relative;">
			<% @todo_lists.each do |list| %>
				<%= render :partial => "todo_list_show", :locals => {:list => list, :project => @project} %>
			<% end -%>
		</div>
	</div>
</div>

<% content_for :side do  %>
	<div class="button_to_add_new">
		<a class="image" href="todo_lists/new">
			<img src="/images/new_to-do_list.gif" alt="New to-do list"/>
		</a>
	</div>
	<div id="sidebar">
		<div class="indent">
			<% form_tag project_todo_lists_path(@project), :method => "GET", :html => {:style=>"margin: 0pt; padding: 0pt;"} do %>
				<p>
					Show to-dos assigned to:
					<br/>
					<select id="responsible_party" onchange="$(this).parents('form').submit()	" name="responsible_party">      
						<option value=''>任何人</option> 
						<% User.all.each do |u| %>
							<option value='<%= u.id %>' <%= "selected='selected'" if(u.id.to_s==params[:responsible_party]) %>><%= u.login %></option>
						<% end -%>	
					</select>
				</p>
			<% end -%>
		</div>
		<div class="indent">    
			<h2>Current to-do lists</h2>
			<ul id="menu_list">
				<% @todo_lists.each do |list| %> 
					<li>
						<a id="menu_list_name_6347244" href="#<%= "list_#{list.id}" %>"><%= list.title %></a>
					</li> 
				<% end -%>	
			</ul>
		</div>	
	</div>	
<% end -%>	