<div class="page_header">
	<div class="page_header_links">
		<%= link_to "Delete this list", todo_list_path(@todo_list), :confirm => "确定删除？", :method => "DELETE", :class => "admin" %>
	</div>
	<h1>                                         
		<a class="back" href="/todo_lists">See all to-do lists</a>
	</h1>	
</div>                                                                         

<div class="innercol">
	<div id="list_6347244" class="widget page_widget list_wrapper" record="6347244">
		<div id="show_list_6347244" class="hover_container widget_content list">
			<div  class="list_title">
				<h2>  
					<span  class="hover_target" hover_container="show_list_6347244">
						<span class="title_text" hover_container="show_list_6347244">about test</span>
					</span>
				</h2>
			</div> 
			<p  class="listdesc">
				<span class="hover_target" hover_container="show_list_6347244">need to do</span>
			</p>
			<% if @todo_list.milestone %>
			<p class="listdesc">
				Related milestone:
				<%= link_to @todo_list.milestone.title, milestone_path(@todo_list.milestone) %>
			</p>                                                                         
			<% end -%> 
			<%= render :partial => "todo_list", :locals => { :list => @todo_list } %>
			<%= render :partial => "add_todo", :locals => { :list	 => @todo_list } %>
			<div id="list_<%= @todo_list.id %>_completed_items" class="done">
				<% @todo_list.todos.by_state("completed").each do |todo| %>
					<%= render :partial => "todos/completed_todo", :locals => {:todo => todo} %>
			  <% end -%>
			</div>
		</div>
	</div>
</div>	