<div class="page_header">
	<h1>                                                        
		<% if @project %>
			People on <%= @project.name %> project           
		<% else %>
		  全部成员
		<% end -%>                               
		<a class="admin" href="/users/new">添加成员</a>         
		
		<a class="admin" href="/users/admin">管理admin列表</a>         
	</h1>
</div>
<div class="innercol">
	<div class="company">
		<h1>成员列表</h1>
		<% @accounts.each do |account| %>
			<div class="people_column">
				<div id="company_1424193" class="contact">
					<div class="avatar">
						<%= image_tag account.avatar.url(:thumb) %>
					</div>
					<div class="body">
						<h3><%= account.login %></h3>
						<div class="edit">
							<%= link_to "edit", edit_user_path(account) %>
						</div>
					</div>
				</div>
			</div>    
		<% end -%>
		<div style="clear: both;"> </div>
	</div>
</div>	

<%= render :partial => "projects/tab" %>