<div class="page_header">
	<h1>Add a person <%= "to <strong>#{@project.name}</strong>" if(@project) %></h1>
</div>
<div class="innercol">
	<% form_for @user, :url => account_path do |f| %>
		<div id="basic_form">
			<%= f.error_messages %>
		  <%= render :partial => "form", :object => f %>
		  <%= f.submit "add this person" %>
		</div>
	<% end %>
</div>	

<% content_for :tab do %>
	<%= tab_fu("项目", projects_path) %>        
	<%= tab_fu("用户管理", "/users") %>
<% end -%>