<div class="page_header">
	<h1>你的全部项目</h1>
</div>
<div class="innercol">
	<% @projects.each do |project| %>
		<div class="dashboard_calendar">
			<table class="milestones">
			  <tr>    
					<th><%= link_to project.name, project_path(project) %></th>
			  </tr>                                                        
				<tr>
					<td><%= project.description %></td>
				</tr>
			</table>
		</div>                       
	<% end -%>	
</div> 


<% content_for :side do %>
	<div class="SectionHeader">
		<div class="button_to_add_new">
			<a class="image" href="<%= new_project_path %>">
				<img src="/images/new_project.gif" alt="New project"/>
			</a>
		</div>
	</div>
<% end -%>	

<% content_for :tab do %>
	<%= tab_fu("项目", projects_path) %>        
	<%= tab_fu("用户管理", "/users") %>
<% end -%>	