<div class="page_header">
<h1> Add people, remove people to this project</h1>
</div>
<div class="innercol">        
	<div class="candidates_nav">
		<!-- <a class="go_back" href="/projects/3391997/companies">← Go back  </a> -->
		<div class="help">
			<h1>Giving/Removing Access</h1>
			<p>Check the box in front of someone's name to give them access to this project. Uncheck to remove access. People without access won't see the project.</p>
		</div>                                                          
	</div>
	<div class="candidates_nav_indent" style="padding-top: 0pt;">     
		<% form_for @project do |f| -%>
		  <table>
				<tr id="firm_1424193" class="company">
					<td colspan="2">
						<h1><%= current_project.name %></h1>
					</td>
				</tr>                          
				<% f.fields_for :project_users do |pu_form| %>     
					<% user = pu_form.object.user %>	
					<%# options = (pu_form.object.new_record? ? {:checked => false} : {}) %>
					<tr  class="candidate first shaded">
						<td class="name" colspan="2">
							<label>
								<% if user == current_project.creator %>   
								  <% options = {:disabled => "disabled"} %>
								<% else %>
									<% options = (pu_form.object.new_record? ? {:checked => false} : {}) %>  
									<% select_style = (pu_form.object.new_record? ? "display:none;" : "")  %>
								<% end -%>
								<%= pu_form.check_box :user_id, {:onclick => "$('#spinning_abilities_for_#{pu_form.object.user.id}').show();
									$.ajax({
							    type:'POST', url: '#{create_project_user_project_path(@project, :user_id => pu_form.object.user.id)}', dataType: 'script'});"}.merge(options), user.id %>
							</label>  
						</td>
						<td>
							 <%= user.login %>      
						</td>
						<td>              
							<div>
								<%= pu_form.select :role_id, current_project.roles.collect {|role|[role.name, role.id]}, {}, {:onchange => "$('#spinning_abilities_for_#{pu_form.object.user.id}').show();$.ajax({ type: 'POST', url: '#{update_project_user_project_path(@project, :user_id => pu_form.object.user.id)}', dataType: 'script', data: 'project_user[role_id]: $(this).val()'});", :id => "select_role_#{pu_form.object.user.id}", :style => select_style} %>    
							</div>
							<div style="float:right">       
							 <img id="spinning_abilities_for_<%= pu_form.object.user.id %>" class="spinner" height="5" width="21" style="vertical-align: middle;display:none;" src="/images/indicator.gif" alt="Indicator"/>      
							<div style="clear:both;"></div>
							</div>
						</td>
					</tr>                                                                      
				<% end -%>	
				<tr class="candidate">        
					<td style="color: rgb(119, 119, 119);" colspan="2">
						<%= link_to "Add a new person", new_invitation_path, :class => "admin" %>
					</td>
				</tr>
				<tr>
				</tr>
			</table>
		<% end -%>
	</div>
	<div style="clear: both;"> </div>
</div>	

<% content_for :side do  %>
	<h1> 
		<a id="edit_roles_link" class="admin" style="float: right;" onclick="roles.toggleEdit(); return false;" href="#">Edit</a>
		Role
	</h1>
	<div id="CategoryList" class="indent"> 
		<% current_project.roles.each do |role| %>
			<%= render :partial => "roles/role", :locals => { :role => role } %>
		<% end -%>
		<div id="add_new_role" class="category" style="display: none;">
			<a id="add_new_role_link" class="category_link admin" onclick="roles.addNew(); return false;" href="<%= roles_path %>">Add new role</a>
		</div>
	</div>		
<% end -%>