<div class="page_header">
	<div id="inner_page_header" class="inner_page_header">
		<div class="page_header_links">    
			<a id="report_link" class="admin" onclick="TimeHandler.toggleReport(); return false;" href="#">Create another report</a>
			|
			<%= link_to "Back", project_time_entries_path(@project) %>
		</div>
		<div id="original_title" style="">
			<h1>Time tracking report</h1>
		</div>
		<%= render :partial => "report_form" %>
	</div>
</div>
<div class="innercol">                                          
	<h1 id="reporttitle"><%= @user_name %> 从<%= @start_date %>到<%= @end_date %>时间记录 </h1>

	<!-- <form id="entry_adder" onsubmit="return TimeHandler.submit()"> -->
		<table id="entries" class="TimeTrack">
			<tbody>
			<tr id="header_row">
				<th class="date">Date</th>
				<th id="person_column" class="person">Person</th>
				<th class="hours">Hours</th>
				<th class="desc">Description</th>
				<th class="action"> </th>
			</tr>
			</tbody>
			<tbody id="entry_list">
				<% @time_entries.each do |entry| %>                 
				  <%= render :partial => "time_entry", :locals => { :entry => entry } %>
				<% end -%>
			</tbody>
			<tbody id="total">
				<tr class="total">
					<td class="total" colspan="2">TOTAL</td>
					<td id="hours_subtotal" class="hours"><%= @total_hours %></td>
					<td class="export" colspan="2">

					</td>
				</tr>
			</tbody>
		</table>
</div>


<% if current_project.nil? %>
	<%= render :partial => "projects/tab" %>
<% end -%>