<div id="item_<%= todo.id %>" class="widget list_widget item_wrapper commentable" style="position: relative;">
	<div  class="item widget_content hover_container show">
		<div id="item_<%= todo.id %>_nubbin" class="nubbin hover_target">
			<div class="wrapper">
				<ul>
					<li class="edit">
						<a onclick="$(this).parents('.nubbin').addClass('busy'); 
						$.ajax({
					    type:'GET', url: '<%= edit_todo_path(todo) %>', dataType: 'script'});return false;" href="#">Edit</a>
					</li>
				</ul> 
			</div>
		</div>
		<div  class="controls hover_target">
			<input  type="checkbox" onclick="$(this).parents('div.item_wrapper').addClass('busy');$.ajax({
		    type:'PUT', url: '<%= complete_todo_path(todo) %>', dataType: 'script'});return false;"/>
			<a id="item_<%= todo.id %>_time_tracking_control" class="image time_tracking_control" onclick="$(this).parents('div.item_wrapper').addClass('busy'); $.ajax({
		    type:'GET', url: '<%= new_todo_time_entry_path(todo) %>', dataType: 'script'}); return false;" href="#">
				<% if todo.time_entries.blank? %>
					<img width="17" height="17" src="/images/timeclock-off.gif" alt="Timeclock-off"/>
				<% else	%>	
					<img width="17" height="17" src="/images/timeclock-on.gif" alt="Timeclock-off"/>
				<% end -%>
			</a>
		</div>
		<div id="item_<%= todo.id %>_content" class="content">                               
			<span  class="content hover_target">
				<span>                           
					<% if todo.receiver %>
						<strong><%= todo.receiver.login %>:</strong>
					<% end -%>	
					<%= todo.body %>
				</span>
			</span>                           
			<%= render :partial => "comments/comments_count", :locals => { :commentable => todo } %>
		</div>              
	</div>
</div>