<div class="page_header">
	<div id="inner_page_header" class="inner_page_header">
		<div id="report_link_block" class="page_header_links">
			<%= link_to "Time", "/reports" %> | 
			<%= link_to "Milestone", "/reports/milestones" %>
		</div>
		<div id="new_time_report" class="new_time_report">
			<h1>项目报表</h1>
			<div class="box_with_fields">
				<table>
					<tr>
						<th>Show</th>
						<td>
							<select id="milestone_id"  onchange="if($(this).val() != ''){location.href='/reports/milestone?milestone_id='+$(this).val()}" name="milestone_id">
								<option value="" <%= "selected='selected'" if params[:milestone_id].nil? %>>选择milestone</option>
								<% @milestones.each do |milestone| %>
									<option value="<%= milestone.id %>" <%= "selected='selected'" if params[:milestone_id] == milestone.id.to_s %>><%= milestone.title %></option>
								<% end -%>
							</selected>	
						</td>           
					</tr>                        
				</table>
			</div>
		</div>	
	</div>
</div>