<% content_for :head do  %>
  <%= javascript_include_tag "swfobject.js" %>
<% end -%>

<%= render :partial => "milestone_form" %>

<div class="innercol">   
	<%=
	ambling_chart(:pie,  :swf_path => "/amflash", 
											 		:data_file => url_for({:action => 'pie_data', :milestone_id => @milestone.id, :escape => true}),
	                        :id => 'pie_data1', :width => 390, :height => 300,
	                        :chart_settings => Ambling::Pie::Settings.new({
	                          :pie => {
                              :x => 170,
                              :y => 150,
                              :radius => 80,
                              :colors => '#B40000,#F7941D,#0265AC',
                              :outline_color => '#000000',
                              :outline_alpha => 50
	                          },                                              
										        :labels => {
	                             :label =>
	                               {:x => 40, :y => 25, :text => cdata_section("<b>Milestone #{@milestone.title}, 总时间#{@milestone.total_hours} hours</b>"),
	                                 :text_size => 16, :text_color => '#0265AC'},
	                           },
														 :animation => {
															 :sequenced => true,         
															 :pull_out_time => 1,
															 :pull_out_effect => "Bounce" 
														 },
														 :data_labels => {
															 :show => cdata_section("{title}: {percents}" + "％"), 
															 :show_lines => true
														 }
	                       }).to_xml) do
	                   content_tag('p', "To see this page properly, you need to upgrade your Flash Player")
	end
	%>                                    
	
	
	
	<%=
	ambling_chart(:pie,  :swf_path => "/amflash", 
											 		:data_file => url_for({:action => 'pie_data_for_todo_lists', :milestone_id => @milestone.id, :escape => true}),
	                        :id => 'pie_data2', :width => 390, :height => 300,
	                        :chart_settings => Ambling::Pie::Settings.new({
	                          :pie => {
                              :x => 170,
                              :y => 150,
                              :radius => 80,
                              :colors => '#B40000,#F7941D,#0265AC',
                              :outline_color => '#000000',
                              :outline_alpha => 50
	                          },                                              
										        :labels => {
	                             :label =>
	                               {:x => 40, :y => 25, :text => cdata_section("<b>Milestone #{@milestone.title}, todo-lists共#{@milestone.todo_lists.count}个</b>"),
	                                 :text_size => 16, :text_color => '#0265AC'},
	                           },
														 :animation => {
															 :sequenced => true,         
															 :pull_out_time => 1,
															 :pull_out_effect => "Bounce" 
														 },
														 :data_labels => {
															 :show => cdata_section("{title}: {percents}" + "％"), 
															 :show_lines => true
														 }
	                       }).to_xml) do
	                   content_tag('p', "To see this page properly, you need to upgrade your Flash Player")
	end
	%>
</div>

<%= render :partial => "projects/tab" %>