<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= PROJECT_NAME.humanize %></title>
    <%= stylesheet_link_tag '37', :media => "screen" %>
    <%= stylesheet_link_tag 'application', :media => "print" %>
    <%= stylesheet_link_tag 'reset', :media => "screen" %>        
	  <!--[if IE]><link href="http://asset2.projectpath.com/stylesheets/ie/base.css?1245383866" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <%= javascript_include_tag 'jquery' %>
  </head>
  <body class="<%= body_class %>">
		<div id="Header" class="global">
			<h3>
				<%= current_user.login %>
				<span class="pipe">|</span>
				<%= link_to "我的信息", edit_account_path %>
				<span class="pipe">|</span>
				<%= link_to "退出", '/logout' %>
			</h3>
			<h1>liageren</h1>
			<div id="Tabs">
				<ul id="MainTabs">
					<%= yield(:tab) || render(:partial => 'shared/tabs') %> 
				</ul>	
			</div>         
		</div>
		<div id="Wrapper" style="position: relative;">
			<div id="swap_to">  </div>
			<div id="swap_from">
				<div id="screen_body" class="container">
					<table class="layout">
						<tr>
							<td class="left">
								<div class="Left">  
									<%= render :partial => 'layouts/flashes' -%>
									<div class="col">
									  <%= yield %>
									</div>
								</div>
							</td>
							<td class="right">
								<div class="Right">
									<div class="col">
										<%= yield :side %>
									</div>
								</div>
							</td>
						</tr>  
					</table>  
				</div> 
			</div>
		</div>	

  </body>
</html>
