<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= PROJECT_NAME.humanize %></title>
    <%= stylesheet_link_tag '37', :media => "screen" %>
    <%= stylesheet_link_tag 'application', :media => "print" %>
    <%= stylesheet_link_tag 'reset', :media => "screen" %>        
	  <!--[if IE]><link href="http://asset2.projectpath.com/stylesheets/ie/base.css?1245383866" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <%= javascript_include_tag 'jquery' %>
  </head>
	<body class="login">
		<div class="login">
			<%= yield %>
		</div>
	</body>
</html>
